langchain
langchain-core
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
sentencepiece
streamlit
grandalf
pypdf
chromadb
wikipedia
youtube-transcript-api
bs4
langchain_community